body{
    text-align: center;
    font-family: Tahoma;
    margin-top: 50px;
    background-color: #e3f2fd;
}
input{
    background-color: #ddd;
    border: none;
    padding: 10px;
    margin: 15px 0px;
}
button{
    margin-bottom: 15px;
    border: none;
    padding: 10px;
}